<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/Icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Gabriel's Portfolio</title>
</head>
<body>

    <i class="bi bi-list-ul menu-mobile"></i>


    <aside id="header">
        <section class="profile mt-4 text-center">
            <img src="../static/img/ProfilePic.png" alt="Profile Picture">
            <h1>Gabriel Eger</h1>
            <div class="social-links">
                <a target="_blank" href="https://github.com/GabrielEger2">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/gabriel-eger-11434b157/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#home"><i class="bi bi-house-fill"></i>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about"><i class="bi bi-file-person-fill"></i>About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-person-fill-gear"></i>My Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-body-text"></i>Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-archive-fill"></i>Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope-at-fill"></i>Contact</a>
                </li>
              </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="home" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white" style="background-color: black;">&lt;&gt;Welcome&nbsp;to</h2>
                <h2 class="text-white" style="background-color: black;">my&nbsp;Portfolio&lt;/&gt</h2>
            </div>
            
        </section>

        <section class="container mt-5" id="about">
            <div class="row w-100">
                <div class="col-md-12 text-white">
                    <h2 class= 'pt-3'>About</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Cras eget erat ultricies, finibus purus id,
                        bibendum lacus. Vestibulum ante ipsum primis in 
                        faucibus orci luctus et ultrices posuere cubilia curae; 
                        Fusce vulputate, libero mollis pharetra suscipit, odio 
                        tortor mattis risus, vitae mollis nisi sapien at eros. 
                        Nunc lacinia egestas nisl vitae gravida. Nullam ultrices 
                        tempus leo, ut fermentum dui fringilla et. Nullam accumsan 
                        erat metus, nec dapibus orci cursus consectetur. 
                        Pellentesque feugiat vestibulum fringilla.

                    </p>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid" src="../static/img/ProfilePicWhitePadding.png" alt="Profile Picture">
                </div>
                <div class="col-md-8 text-white">
                    <h3>"Important" Data:</h3>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Sex: <span class="fw-lighter">Male</span></li>
                                <li class="list-group-item">Birth day: <span class="fw-lighter">02/01/2002</span></li>
                                <li class="list-group-item">Age: <span class="fw-lighter">21 years old</span></li>
                                <li class="list-group-item">Nationality: <span class="fw-lighter">Brazilian</span></li>
                                <li class="list-group-item">Hometown: <span class="fw-lighter">Florianópolis/Santa Catarina</span></li>
                                <li class="list-group-item">Favorite book: <span class="fw-lighter">The Hitchhiker's Guide to the Galaxy</span></li>
                                <li class="list-group-item">Favorite movie: <span class="fw-lighter">Spider-Man 2</span></li>
                                <li class="list-group-item">Favorite anime: <span class="fw-lighter">Steins;Gate</span></li>
                                <li class="list-group-item">Favorite game: <span class="fw-lighter">The Elder Scrolls V: Skyrim</span></li>
                                <li class="list-group-item">Favorite D&D class: <span class="fw-lighter">Bard</span></li>
                                <li class="list-group-item">Fluent languages: <span class="fw-lighter">Português, English</span></li>
                                <li class="list-group-item">Learning: <span class="fw-lighter">Français, 日本語</span></li>
                              </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobbies:</li>
                                <li class="list-group-item"><span class="fw-lighter">Language learning</span></li>
                                <li class="list-group-item"><span class="fw-lighter">Dungeon and Dragons 3.5e</span></li>
                                <li class="list-group-item"><span class="fw-lighter">Reading</span></li>
                                <li class="list-group-item"><span class="fw-lighter">Video-games</span></li>
                                <li class="list-group-item"><span class="fw-lighter">Anime</span></li>
                                <li class="list-group-item"><span class="fw-lighter">Movies</span></li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>