<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/Icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Code</title>
</head>
<body>

    <aside id="header">
        <section class="profile mt-4 text-center">
            <img src="../static/img/GrayImage.png" alt="Gray Image">
            <h1>Gabriel Eger</h1>
            <div class="social-links">
                <a target="_blank" href="https://github.com/GabrielEger2">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/gabriel-eger-11434b157/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill"></i>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-file-person-fill"></i>About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-person-fill-gear"></i>My Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-body-text"></i>Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-archive-fill"></i>Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope-at-fill"></i>Contact</a>
                </li>
              </ul>
        </nav>
    </aside>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>